$black : black;
$gray: gray;

body {
  font-family: monospace;
  color: black;
  background-color: gray;
  padding: 20px;

  .container {
    button {
      color: black;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    label {
      font-size: 24px;
    }
    a {
      font-size: 20px;
    }
    a:hover {
      font-size: 30px;
    }
  }
}
.title, .about{
  text-align: center;
}
.photos {
  text-align: center;
}
.col-sm-3 {
  img {
    width: 270px;
    height: auto;
    padding: 2px;
    border: 1px solid black;
    background-color: white;
  }
}
.col-sm-4 {
  img {
    width: 370px;
    height: auto;
    padding: 2px;
    border: 1px solid black;
    background-color: white;
  }
}
.banner-img {
  img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
#rudr_instafeed{
  list-style:none
}
#rudr_instafeed li{
  float:left;
  width:200px;
  height:200px;
  margin:10px
}
#rudr_instafeed li img{
  max-width:100%;
  max-height:100%;
}
#picture-content img{
  width:200px;
  height:150px;
}
#picture-content, #video-content{
  padding: 20px;
}
